version: '3.2'
services:
  node_exporter:
    image: prom/node-exporter:latest
    ports:
    - 9100:9100
  prometheus:
    image: prom/prometheus:latest
    ports:
    - 9090:9090
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    volumes:
    - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
    - node_exporter
